.container.profile
    .profile_avatar 
        -# = image_tag current_user.avatar_image, class: "profile-avatar-img"
        = image_tag current_user.profile.avatar, class: "profile-avatar-img"
        = form_with(model: @profile, url: profile_path, method: 'PUT', id: 'profile_form', remote: true) do |f|
            %div 
                = f.file_field :avatar, style:"display:none;", id: 'upFile', class: 'form-avatar'
    .profile_info 
        .profile_info_posts
            %p.profile_info_num 44
            %p.profile_info_text Posts
        .profile_info_followers
            %p.profile_info_num 44
            %p.profile_info_text Followers
        .profile_info_following
            %p.profile_info_num 44
            %p.profile_info_text Followings
    .profile_contents
        .photos
            = image_tag "photo1.png"
            = image_tag "photo2.png"
            = image_tag "photo3.png"
            = image_tag "photo4.png"
            = image_tag "photo5.png"
            = image_tag "photo3.png"
            = image_tag "photo1.png"
            = image_tag "photo2.png"
