.container.profile
    .profile_name 
        %p= current_user.username
    .profile_avatar 
        %label
            = image_tag current_user.avatar_image, class: "avatar", id: 'profile-avatar-img'
            -# = form_with(model: @profile, url: profile_path, method: 'PUT', id: 'profile_form', remote: true) do |f|
            = file_field :avatar, id: 'upFile', class: 'form-avatar'
        = submit_tag '変更', class: 'modal-btn-primary hidden', id: 'avatar-btn'

    = render 'commons/count'

    .profile_contents
        .photos
            = image_tag "photo1.png"
            = image_tag "photo2.png"
            = image_tag "photo3.png"
            = image_tag "photo4.png"
            = image_tag "photo5.png"
            = image_tag "photo3.png"
            = image_tag "photo1.png"
            = image_tag "photo2.png"
