!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsInstagram
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      - if user_signed_in?
        %p= link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %p= link_to "ログイン", new_user_session_path
        %p= link_to "新規登録", new_user_registration_path
    = yield
    %p.notice= notice
    %p.alert= alert
