.container#profile{data: {id: current_user.id}}
    .profile{data: {id: @user.id}}
        .profile_name 
            %p= @user.username
        .profile_avatar 
            = image_tag @user.avatar_image, class: "avatar"
        .profile_follow 
            - if @user != current_user
                %p.btn-following.hidden Following
                %p.btn-follow.hidden Follow

        = render 'commons/count'

        .profile_contents
            .photos
                - @posts.each do |post|
                    .photo
                        = link_to post_path(post.id) do
                            - if post.content_images.attached?
                                = image_tag post.content_images.first