.container.profile
    .profile_name 
        %p= @user.username
    .profile_avatar 
        = image_tag @user.avatar_image, class: "avatar"
    .profile_follow 
        - if @user != current_user
            %p.btn-primary follow
    .profile_info 
        .profile_info_posts
            %p.profile_info_num 44
            %p.profile_info_text Posts
        .profile_info_followers
            %p.profile_info_num 44
            %p.profile_info_text Followers
        .profile_info_following
            %p.profile_info_num 44
            %p.profile_info_text Followings
    .profile_contents
        .photos
            = image_tag "photo1.png"
            = image_tag "photo2.png"
            = image_tag "photo3.png"
            = image_tag "photo4.png"
            = image_tag "photo5.png"
            = image_tag "photo3.png"
            = image_tag "photo1.png"
            = image_tag "photo2.png"